<!DOCTYPE html>
<html>
  <head>
    <title>GDiff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/structOpt.ico">
	
	
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="/static/css/jquery.edittable.min.css">
	<link rel="stylesheet" href="/static/css/graph.css">	
 </head>
 <style>

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

</style>
  <body style="padding-top: 70px;">
  <div class="navbar navbar-default navbar-fixed-top" id="nav">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<a href="/GDiff"><img src="/static/images/structOptLogo.jpg" class="img-rounded" alt="GDiff" width="180" height="50"></a>
	    </div>
	  </div>
	</div>
	<div class="container">
	<div id="myTabContent" class="tab-content">
  	<div class="tab-pane fade active in" id="home">
<form method="post" role="form" class="form-horizontal" id="mainForm" name="mainForm">
	<div id="msgs">
		<div id="alertDiv" class="alert alert-dismissible alert-danger fade in col-md-offset-7" style="display:none;">
		 	<button type="button" class="close">×</button>
		 	<p id="validation-info"></p>
		</div>
	</div>
	<div class="tab-content col-md-12">
		<div class="tab-pane active" role="tabpanel" id="about-tab">
			<form method="post" role="form" class="form-horizontal">
				<legend>Call Graph</legend>
				<a id="expand_all" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>Expand All</a>  
    			<a id='collapse_all' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove-sign"></span>Collapse All</a>
			</form>
		</div>
	</div><!-- tab content -->
</form>
</div>
<div class="tab-pane fade" id="profile">

</div>
</div>
</div><!-- end of container -->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.edittable.min.js"></script>
    <!--  <script type="text/javascript" src="/static/js/jquery-ui.js"></script>-->
    <script type="text/javascript" src="/static/js/bootstrap-remote-tabs.js"></script>
    <script type="text/javascript" src="/static/js/Blob.js"></script>
    <script type="text/javascript" src="/static/js/FileSaver.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    
    var width = 960,
    height = 500,
    root;

var force = d3.layout.force()
    .linkDistance(80)
    .charge(-120)
    .gravity(.05)
    .size([width, height])
    .on("tick", tick);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var link = svg.selectAll(".link"),
    node = svg.selectAll(".node");

	{% autoescape false %}
	var flare = {{ graphData }};
	{% endautoescape %}
	
	root = flare;
  update();

function update() {
  var nodes = flatten(root),
      links = d3.layout.tree().links(nodes);

  // Restart the force layout.
  force
      .nodes(nodes)
      .links(links)
      .start();

  // Update links.
  link = link.data(links, function(d) { return d.target.id; });

  link.exit().remove();

  link.enter().insert("line", ".node")
      .attr("class", "link");

  // Update nodes.
  node = node.data(nodes, function(d) { return d.id; });

  node.exit().remove();

  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .on("click", click)
      .call(force.drag);

  nodeEnter.append("circle")
      .attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; });

  nodeEnter.append("text")
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });

  node.select("circle")
      .style("fill", color);
}

function tick() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function color(d) {
  return d._children ? "#3182bd" // collapsed package
      : d.children ? "#c6dbef" // expanded package
      : "#fd8d3c"; // leaf node
}

// Toggle children on click.
function click(d) {
  if (d3.event.defaultPrevented) return; // ignore drag
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update();
}

// Returns a list of all nodes under the root.
function flatten(root) {
  var nodes = [], i = 0;

  function recurse(node) {
    if (node.children) node.children.forEach(recurse);
    if (!node.id) node.id = ++i;
    nodes.push(node);
  }

  recurse(root);
  return nodes;
}
    
	</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  </body>
</html>
